// MIXINS

@mixin contract {
  position: fixed;
  width: $console-w-narrow;
  min-width: $console-minw-narrow;
  max-height: $console-maxh-narrow;
  overflow: hidden;
  animation: contract-console 2s;
  transition: all 300ms ease;
  // background-image: url('/assets/interface.svg');
  // background-repeat: no-repeat;
  // background-size: 100% 100%;
  background: $screen-tr;
  p {
    @include p-contract;
  }
  &:hover {
    @include expand;
    p {
      @include p-expand;
    }
    h3 {
      @include h-expand;
    }
  }
}

@mixin p-contract {
  display: none;
}

@mixin expand {
  animation: expand-console 2s forwards;
}

@mixin p-expand {
  display: block;
}

@mixin h-expand {
  background: $screen-bg;
}

html {
  position: relative;
  background-image: url('/assets/city-image.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100% 100%;

}

html::before {
  content: "";
  position: fixed;
  background-color: $screen-tr;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: -3;
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 0.5rem;
}

.intro {
  order: 1;
}

.main {
  order: 3;
}

.sidebar {
  order: 2;
}

header,
footer,
.summary,
.preamble,
.explanation,
.participation,
.benefits,
.requirements,
.sidebar {
  border-width: $border-width;
  border-style: double;
  margin: 1rem 0;
}

.sidebar {
  padding: 0.75rem;
}

.sidebar ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar li {
  margin: 0.5rem 0;
}

.main div h3 {
  background: #1c499b7a;
  padding: 1rem;
  margin: 0;
  text-shadow: $text-shadow-offset $text-shadow-offset $screen-bg,
              $text-shadow-offset-n $text-shadow-offset $screen-bg,
              $text-shadow-offset-n $text-shadow-offset-n $screen-bg,
              $text-shadow-offset $text-shadow-offset-n $screen-bg;
}

.main div p {
  border-top: $inner-border-w solid $color-border;
  border-bottom: $inner-border-w solid $color-border;
  border-left: $inner-border-w solid $color-border-tr;
  border-right: $inner-border-w solid $color-border-tr;
  padding: 1rem;
  margin: 0;
  background: $screen-tr;
  position: relative;
}

.main div p:before {
  content: "";
  position: absolute;
  width: 4rem;
  margin: auto;
  top: -3px;
  left: 0;
  right: 0;
  border-top: $inner-border-deco-w solid white;
  border-left: $inner-border-deco-w solid $color-border-tr;
  border-right: $inner-border-deco-w solid $color-border-tr;
}

.main div p:after {
  content: "";
  position: absolute;
  width: 4rem;
  margin: auto;
  left: 0;
  bottom: -3px;
  right: 0;
  border-bottom: $inner-border-deco-w solid white;
  border-left: $inner-border-deco-w solid $color-border-tr;
  border-right: $inner-border-deco-w solid $color-border-tr;
}

footer {
  padding: 1rem;
}

@media only screen and (min-width: $M) {
	.page-wrapper {
		margin: 0 5rem;
	}

	.wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.design-selection {
		grid-row: span 2;
		border-right-width: $border-width;
		border-right-style: solid;
		align-self: stretch; 
	}

	.zen-resources {
		grid-column: 2 / 3;
	}
}

@media only screen and (min-width: $L) {

  html::before {
    width: 100vw;
    height: 100vh;
  }

  .sidebar {
    position: fixed;
    left: 0;
    top: 50vh;
    width: 11.5rem;
    height: 90vh;
    transform: translate(-13rem, -50%);
    transition: transform 2s ease-in-out;
    background-image: url('/assets/side-interface.svg');
  }

  .main div p {
    margin: 1rem;
  }

  header,
  footer,
  .summary,
  .preamble,
  .explanation,
  .participation,
  .benefits,
  .requirements,
  .sidebar {
    margin: 0;
  }

  .intro {
    position: fixed;
    top: 0;
    left: 50vw;
    transform: translate(-50%, -95%);
    transition: transform 2s ease-in-out;
  }

  .intro::after {
    content: "CSS Zen Garden";
  }

  .intro:hover {
    transform: translate(-50%, 0);
  }

  .intro:hover + .main{
    //transform: 
  }

  header > *{
    margin: 1rem;
  }

  

  .sidebar:before {
    content: "Navigation";
    position: absolute;
    width: 13rem;
    transform: rotate(90deg) translate(40%, -6.5rem);
  }

  .sidebar:hover {
    transform: translate(-$border-width, -50%);
  }

  .explanation {
    @include contract;
    top: $console-p-row;
    left: $console-p-column;
  }

  .participation {
    @include contract;
    bottom: $console-p-row;
    left: $console-p-column;
    
  }

  .benefits {
    @include contract;
    bottom: $console-p-row;
    right: $console-p-column;
  }  

  .requirements {
    @include contract;
    top: $console-p-row;
    right: $console-p-column;
  }

  .wrapper {
    display: block;
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 50vw;
    transform: translate(-50%, 0);
  }

  .design-selection {
    border: none;
  }

  @keyframes expand-console {
    0% {
      width: $console-w-narrow;
      max-height: $console-maxh-narrow;
      z-index: 3;
    }
    50% {
      width: $console-w-expanded;
      max-height: $console-maxh-narrow;
    }
    99% {
      overflow: hidden;
    }
    100% {
      width: $console-w-expanded;      
      max-height: $console-maxh-expanded;
      z-index: 3;      
      overflow: auto;
    }
  }

  @keyframes contract-console {
    100% {
      width: $console-w-narrow;
      max-height: $console-maxh-narrow;
      z-index: 3;
    }
    50% {
      width: $console-w-expanded;
      max-height: $console-maxh-narrow;
    }
    0% {
      width: $console-w-expanded;      
      max-height: $console-maxh-expanded;
      z-index: 3;
    }
  }
}