// VARIABLES:

// breakpoints:

$M: 40rem;
$L: 70rem;

// dimensions:

$console-width: 30vw;
$border-width: 1px;

// positions:

$side-bar-top: 0;
$console-1st-row-top: 15vh;
$console-2nd-row-top: 50vh;
$console-row-position: 15vw;

// colors:

$color-border: blue;
$txt-color: white;
$txt-shadow: lightblue;
$screen-bg: lightgray;
$brd-hl: blue;
$brd-ll: lightblue;
$accent: yellow;