// VARIABLES:

// breakpoints:

$M: 40rem;
$L: 70rem;

// dimensions:
$console-w-narrow: 20vw;
$console-minw-narrow: 17rem;
$console-w-expanded: 100vw - ($console-w-narrow) * 2;
$border-width: 3px;
$console-maxh-narrow: 3.5rem;
$console-maxh-expanded: 60vh;
$inner-border-w: 6px;
$inner-border-deco-w: 8px;
$text-shadow-offset: 2px;
$text-shadow-offset-n: -$text-shadow-offset;

// positions:
$side-bar-top: 0;
$console-p-column: 20vw;
$console-m-column: 50vw;
$console-p-row: 20vh;
$console-m-row: 50vh;

// colors:

$color-border: #3fc1c3;
$color-border-tr: #3fc1c300;
$txt-color: #fff;
$txt-shadow: #020f26;
$screen-bg: #1c499b;
$screen-tr: #1c499b8c;
$brd-hl: #d8e1f3;
$brd-ll: #3fc1c3;
$accent: #3fc1c3;