// VARIABLES:

// breakpoints:

$M: 40rem;
$L: 70rem;

// dimensions:
$console-w-narrow: 17vw;
$console-w-expanded: 58vw;
$border-width: 1px;
$console-maxh-narrow: 3.5rem;
$console-maxh-expanded: 50rem;

// positions:
$side-bar-top: 0;
$console-p-column: 20vw;
$console-m-column: 50vw;
$console-p-row: 20vh;
$console-m-row: 50vh;

// colors:

$color-border: blue;
$txt-color: white;
$txt-shadow: lightblue;
$screen-bg: lightgray;
$brd-hl: blue;
$brd-ll: lightblue;
$accent: yellow;