@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
html {
  position: relative;
  background-image: url("/assets/city-image.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100% 100%;
}

html::before {
  content: "";
  position: fixed;
  background-color: #1c499b8c;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: -3;
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 0.5rem;
}

.intro {
  order: 1;
}

.main {
  order: 3;
}

.sidebar {
  order: 2;
}

header,
footer,
.summary,
.preamble,
.explanation,
.participation,
.benefits,
.requirements,
.sidebar {
  border-width: 3px;
  border-style: double;
  margin: 1rem 0;
}

.sidebar {
  padding: 0.75rem;
}

.sidebar ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar li {
  margin: 0.5rem 0;
}

.main div h3 {
  background: #1c499b7a;
  padding: 1rem;
  margin: 0;
  text-shadow: 2px 2px #1c499b, -2px 2px #1c499b, -2px -2px #1c499b, 2px -2px #1c499b;
}

.main div p {
  border-top: 6px solid #3fc1c3;
  border-bottom: 6px solid #3fc1c3;
  border-left: 6px solid #3fc1c300;
  border-right: 6px solid #3fc1c300;
  padding: 1rem;
  margin: 0;
  background: #1c499b8c;
  position: relative;
}

.main div p:before {
  content: "";
  position: absolute;
  width: 4rem;
  margin: auto;
  top: -3px;
  left: 0;
  right: 0;
  border-top: 8px solid white;
  border-left: 8px solid #3fc1c300;
  border-right: 8px solid #3fc1c300;
}

.main div p:after {
  content: "";
  position: absolute;
  width: 4rem;
  margin: auto;
  left: 0;
  bottom: -3px;
  right: 0;
  border-bottom: 8px solid white;
  border-left: 8px solid #3fc1c300;
  border-right: 8px solid #3fc1c300;
}

footer {
  padding: 1rem;
}

@media only screen and (min-width: 40rem) {
  .page-wrapper {
    margin: 0 5rem;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .design-selection {
    grid-row: span 2;
    border-right-width: 3px;
    border-right-style: solid;
    align-self: stretch;
  }

  .zen-resources {
    grid-column: 2/3;
  }
}
@media only screen and (min-width: 70rem) {
  html::before {
    width: 100vw;
    height: 100vh;
  }

  .sidebar {
    position: fixed;
    left: 0;
    top: 50vh;
    width: 11.5rem;
    height: 90vh;
    transform: translate(-13rem, -50%);
    transition: transform 2s ease-in-out;
    background-image: url("/assets/side-interface.svg");
  }

  .main div p {
    margin: 1rem;
  }

  header,
footer,
.summary,
.preamble,
.explanation,
.participation,
.benefits,
.requirements,
.sidebar {
    margin: 0;
  }

  .intro {
    position: fixed;
    top: 0;
    left: 50vw;
    transform: translate(-50%, -95%);
    transition: transform 2s ease-in-out;
  }

  .intro::after {
    content: "CSS Zen Garden";
  }

  .intro:hover {
    transform: translate(-50%, 0);
  }

  header > * {
    margin: 1rem;
  }

  .sidebar:before {
    content: "Navigation";
    position: absolute;
    width: 13rem;
    transform: rotate(90deg) translate(40%, -6.5rem);
  }

  .sidebar:hover {
    transform: translate(-3px, -50%);
  }

  .explanation {
    position: fixed;
    width: 20vw;
    min-width: 17rem;
    max-height: 3.5rem;
    overflow: hidden;
    animation: contract-console 2s;
    transition: all 300ms ease;
    background: #1c499b8c;
    top: 20vh;
    left: 20vw;
  }
  .explanation p {
    display: none;
  }
  .explanation:hover {
    animation: expand-console 2s forwards;
  }
  .explanation:hover p {
    display: block;
  }
  .explanation:hover h3 {
    background: #1c499b;
  }

  .participation {
    position: fixed;
    width: 20vw;
    min-width: 17rem;
    max-height: 3.5rem;
    overflow: hidden;
    animation: contract-console 2s;
    transition: all 300ms ease;
    background: #1c499b8c;
    bottom: 20vh;
    left: 20vw;
  }
  .participation p {
    display: none;
  }
  .participation:hover {
    animation: expand-console 2s forwards;
  }
  .participation:hover p {
    display: block;
  }
  .participation:hover h3 {
    background: #1c499b;
  }

  .benefits {
    position: fixed;
    width: 20vw;
    min-width: 17rem;
    max-height: 3.5rem;
    overflow: hidden;
    animation: contract-console 2s;
    transition: all 300ms ease;
    background: #1c499b8c;
    bottom: 20vh;
    right: 20vw;
  }
  .benefits p {
    display: none;
  }
  .benefits:hover {
    animation: expand-console 2s forwards;
  }
  .benefits:hover p {
    display: block;
  }
  .benefits:hover h3 {
    background: #1c499b;
  }

  .requirements {
    position: fixed;
    width: 20vw;
    min-width: 17rem;
    max-height: 3.5rem;
    overflow: hidden;
    animation: contract-console 2s;
    transition: all 300ms ease;
    background: #1c499b8c;
    top: 20vh;
    right: 20vw;
  }
  .requirements p {
    display: none;
  }
  .requirements:hover {
    animation: expand-console 2s forwards;
  }
  .requirements:hover p {
    display: block;
  }
  .requirements:hover h3 {
    background: #1c499b;
  }

  .wrapper {
    display: block;
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 50vw;
    transform: translate(-50%, 0);
  }

  .design-selection {
    border: none;
  }

  @keyframes expand-console {
    0% {
      width: 20vw;
      max-height: 3.5rem;
      z-index: 3;
    }
    50% {
      width: 60vw;
      max-height: 3.5rem;
    }
    99% {
      overflow: hidden;
    }
    100% {
      width: 60vw;
      max-height: 60vh;
      z-index: 3;
      overflow: auto;
    }
  }
  @keyframes contract-console {
    100% {
      width: 20vw;
      max-height: 3.5rem;
      z-index: 3;
    }
    50% {
      width: 60vw;
      max-height: 3.5rem;
    }
    0% {
      width: 60vw;
      max-height: 60vh;
      z-index: 3;
    }
  }
}
* {
  color: #fff;
}

header,
footer,
.summary,
.preamble,
.explanation,
.participation,
.benefits,
.requirements,
.sidebar {
  border-color: #3fc1c3;
}

@media only screen and (min-width: 40rem) {
  .design-selection {
    border-color: #3fc1c3;
  }
}
html {
  font-family: "Audiowide";
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Orbitron";
}

:before, :after, footer, abbr, a {
  font-family: "Major Mono Display";
}

abbr:hover, a:hover {
  text-transform: lowercase;
}

.sidebar li {
  font-size: 0.85rem;
}

/*# sourceMappingURL=style.css.map */
